body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f0f2f5;
    color: #333;
}

header{
    background-color: #2a6592;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #1e4a70;

}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

main {
    padding: 30px;
    text-align: center;
}

footer {
    background-color: #2a6592;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a.active {
    text-decoration: underline;
}

main.sobre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    gap: 30px;
}

.texto-sobre {
    max-width: 500px;
}

.texto-sobre h2 {
    color: #0a9396;
}

.imagem-sobre img {
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}


/* ==== Estilo do formulário ==== */

form {
    max-width: 500px;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.campo {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #2a6592;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1e4a70;
}